<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>lufei-MBP</string>
		<key>lastEditingUserName</key>
		<string>xijiangbo</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2013-03-04T07:21:43Z</date>
	<key>dataHash</key>
	<string>b9116bb3c52d879477d71b8a0b32c6b6e766e285</string>
	<key>displayName</key>
	<string>Index</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>index</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2013-03-04T07:21:46Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>960178b8-763b-480a-8ec6-d5af3a4d4494</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
